@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
:root {
    --txt-color: #424242;
    --border-color: #ECDFCC;
    --border-radius: 10px;
    --light-txt: #F5F5F5;
}

p#home-btn {
    background-color: #202940;
    color: var(--light-txt);
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    width: fit-content;
    top: 40px;
    right: 50px;
}

p#home-btn a {
    color: var(--light-txt);
    text-decoration: none;
}

.lead {
    font-size: 1.2rem;
    font-weight: 600;
}

.flexitem {
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}
 
.flexcontainer {
    min-height: 300px;
    border: 2px solid yellowgreen;
    border-radius: 10px;
}
 
img#exercise-result {
    width: 100%;
    height: 300px;
}
h3, b{
    color: #068FFF;
    text-decoration: underline;
}
footer{
    border-top: 2px solid #ECDFCC;
    color:#068FFF;
    font-size: 0.7rem;
    text-align: center;
}
footer ul{
    list-style: none;
}
section{
    background-color: #F5F5F5;
    padding: 10px;
    margin: 10px 0;
    border-radius: var(--border-radius) ;
}
#definition{
    color: #DC4F00;
    font-size: 1.1rem;
}
.basicTerms{
    display: inline-block;
    height: 200px;
    padding: 10px;
    border: 1px solid #FECDA6;
    border-radius: var(--border-radius);
    background-color: #FECDA6;
}
.caption{
    font-size: 0.6rem;
    text-decoration: underline;
    text-align: center;
}
.code-example{
    width:fit-content;
    padding: 15px;
    background-color: #424242;
    color: #ECDFCC;
    border-radius: var(--border-radius);
}
.comment{
    color: gray;
}
#playground{
    background-color: #AFC8AD;
    border-radius: var(--border-radius);
    width:100%;
    min-height: 300px;
}
#flex-container{
    border: 2px solid #F5F5F5;
    border-radius: 5px;
    min-height: 200px;
}
.flex-item{
    width: 50px;
    height:50px;
    border-radius: 5px;
    background-color: #F5F5F5;
    margin: 5px;
}
 
#flex-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.grow-3{
    flex-grow: 3;
}

.basis-2{
    flex-basis: 2rem;
    background-color: rgb(237, 185, 213);
}

.shrink-3{
    flex-shrink: 3;
    background-color: #6c3040;
}

.align-self-end{
    align-self: flex-end;
    background-color: rgb(38, 83, 55);
}

/*Exercise*/
.flexcontainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flexitem{
    text-align: center;
}

/* another way to make the text center in the box:
.flexitem{
    display: flex;
    justify-content: center;
    align-items: center;
*/

#one{
    order: 5;
}

#two{
    flex-grow: 2;
}

#three{
    align-self: flex-end;
}

#four{
    flex-grow: 2;
}